* {
    margin: 0;
    padding: 0;
    border-width: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(52, 48, 48);
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.pasek{
    width: 100%;
    height: 200px;
    background-color:rgb(180, 51, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-width: 10px;
    border-bottom-style: solid;
    border-bottom-color: rgb(20, 20, 20);
    position: relative;
}

.logo{
    width: 467px;
    height: 171px;
}

.autors{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    font-size: 50px;
    font-weight: 400;
    color: rgb(20, 20, 20);
    background-color:rgb(180, 51, 0);
    border-top-width: 10px;
    border-top-color: rgb(20, 20, 20);
    border-top-style: solid;
    font-family: 'Montserrat', sans-serif;
}

.crossword-block {
    padding-top: 3vh;
    width: 100%;
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: space-around;
    gap: 3vw;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  }
  
  .crossword {
    position: relative;
    text-align: center;
    display: inline-block;
    border-collapse: collapse;
    height: auto;
    margin-left: 2vw;
    width: auto;
    box-shadow: 0 0 25px black;
    }
    
  .crossword-questions {
    text-align: center;
    align-items: center;
    width: 60%;
    height: auto;
    margin-right: 2vw;
  }
  
  /* .quest-block {
    aspect-ratio: auto;
  } */
  
  .question {
    font-size: 20px;
  }
  .row {
      display: table-row;
    }
    
  .cell {
      display: table-cell;
      width: 32px;
      height: 32px;
      border: 1px solid black;
      text-align: center;
    }
    
  .space {
      display: table-cell;
      width: 32px;
      height: 32px;
      border: none;
      text-align: center;
      background-color: rgb(255, 255, 255);
   }
      
  .cell-input {
      width: 100%;
      height: 100%;
      aspect-ratio: 1;
      font-size: 17px;
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
      border: none;
      outline: none;
      padding: 0;
      margin: 0;
    }
  
    #check-answers-btn {
      margin: 25px;
      color: black;
      background-color: white;
      border: 1px solid black;
      padding: 10px 20px;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      border-radius: 4px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      transition: all 0.2s ease-in-out;
    }
    
    #check-answers-btn:hover {
      background-color: black;
      color: white;
    }
    
  .number-1 {
      background-image: url(bg-numbers/1.png);
      background-size: 35px;
    }
  .number-2 {
      background-image: url(bg-numbers/2.png);
      background-size: 35px;
    }
  .number-3 {
      background-image: url(bg-numbers/3.png);
      background-size: 35px;
    }
  .number-4 {
      background-image: url(bg-numbers/4.png);
      background-size: 35px;
    }
  .number-5 {
      background-image: url(bg-numbers/5.png);
      background-size: 35px;
    }
  .number-6 {
      background-image: url(bg-numbers/6.png);
      background-size: 35px;
    }
  .number-7 {
      background-image: url(bg-numbers/7.png);
      background-size: 35px;
    }
  .number-8 {
      background-image: url(bg-numbers/8.png);
      background-size: 35px;
    }
  .number-9 {
      background-image: url(bg-numbers/9.png);
      background-size: 35px;
    }
  .number-10 {
      background-image: url(bg-numbers/10.png);
      background-size: 35px;
    }
  
    .img-row {
        width: 100%;
        display: inline-flex;
        gap: 5vw;
        justify-content: center;
        margin: 15vh 0 15vh 0;
    }
    
    .rebus {
        margin-bottom: 10vh;
    }
    
    .rebus-part {
        width: 20vw;
    }
    
    .answer-label {
        font-size: 24px;
    }
    
    .answer-block {
        justify-content: center;
        align-items: center;
        text-align: center;
        
    }
    
    .rebus-answer {
        border: 3px solid black;
        border-radius: 8px;
        padding: 5px;
        margin: 0 3vw 0 3vw;
        font-size: 24px;
      }

    .correct {
        border: 3px solid green;
        border-radius: 8px;
        background-color: lightgreen;
    }
      
    .incorrect {
        border: 3px solid red;
        border-radius: 8px;
        background-color: lightcoral;
    }

    .zgadywanka {
        margin: 5vh 10vw 25vh 10vw;
    }

    #zgadywanka1-answer {
        border: 3px solid black;
        border-radius: 8px;
        padding: 5px;
        margin: 0 3vw 0 3vw;
        font-size: 24px;
    }

    #zgadywanka2-answer {
        border: 3px solid black;
        border-radius: 8px;
        padding: 5px;
        margin: 0 3vw 0 3vw;
        font-size: 24px;
    }
    
    button {
        font-size: 24px;
        color: white;
        background-color: rgb(0, 0, 0);
        border: 3px solid rgb(255, 255, 255);
        border-radius: 10px;
        padding: 8px;
    }
    
    button:hover {
        color: black;
        background-color: white;
        border: 3px solid black;
    }